ServicioSOAP/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="MyService"
             targetNamespace="http://www.example.com/MyService"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://www.example.com/MyService"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <message name="ConsultaAlumnosNombresRequest">
    </message>

    <message name="ConsultaAlumnosNombresResponse">
        <part name="resultado" type="xsd:string"/>
    </message>

    <message name="ConsultaAlumnosNotaRequest">
    </message>

    <message name="ConsultaAlumnosNotaResponse">
        <part name="resultado" type="xsd:string"/>
    </message>

    <portType name="MyPortType">
        <operation name="ConsultaAlumnosNombres">
            <input message="tns:ConsultaAlumnosNombresRequest"/>
            <output message="tns:ConsultaAlumnosNombresResponse"/>
        </operation>
        <operation name="ConsultaAlumnosNota">
            <input message="tns:ConsultaAlumnosNotaRequest"/>
            <output message="tns:ConsultaAlumnosNotaResponse"/>
        </operation>
    </portType>

    <binding name="MyBinding" type="tns:MyPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ConsultaAlumnosNombres">
            <soap:operation soapAction="http://www.example.com/MyService/ConsultaAlumnosNombres"/>
            <input>
                <soap:body use="encoded" namespace="http://www.example.com/MyService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="http://www.example.com/MyService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="ConsultaAlumnosNota">
            <soap:operation soapAction="http://www.example.com/MyService/ConsultaAlumnosNota"/>
            <input>
                <soap:body use="encoded" namespace="http://www.example.com/MyService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="http://www.example.com/MyService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>

    <service name="MyService">
        <port name="MyPort" binding="tns:MyBinding">
            <soap:address location="http://localhost:3000/wsdl"/>
        </port>
    </service>
</definitions>
